<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>

<body>
    <header>
        <nav>

            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Category list</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                <li><a href="{% url 'account_list' %}">Account list</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {%else%}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {%endif%}
            </ul>

        </nav>
      </header>
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>

                </tr>
            </thead>
            <tbody>
                {%for item in categories%}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{ item.receipts.all|length }}</td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
    </main>
</body>
</html>
